@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

.App {
  height: 100vh;
}

body {
  margin: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}

.content-loader{
  margin: 0 auto;
  display: relative;
  align-content: center;
}

.loader {
  color: #111111;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}
.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}